article {
	.main-logos {
		height: 1000px;
		width: 100%;
		position: relative;
		z-index: 1;
		& .row {
			height: 900px;
			& > div {
				//height: 520px;
				width: 100%;
				position: absolute;
				background-repeat: no-repeat;
			}
			& > img {
				position: absolute;
			}
			& img.logo-front {
				position: absolute;
				margin-left: auto;
				margin-right: auto;	
				left: 54px;
				top: 2px;
				right: 0;
				z-index: 10;
				min-width: 300px;
			}
			& .top-left-border {
				left: -318px;
				top: -10px;
				background: url("../media/top-left-border.png") top left no-repeat;
				height: 20px;
			}
			& .top-right-border {
				top: -9px;
				right: -312px;
				background: url("../media/top-right-border.png") top right no-repeat;
				height: 20px;
			}
			& .first-girl-right {
				z-index: 0;
				height: 893px;
				right: -47px;
				top: -20px;
			}
			& .text-under-logo {
				width: 60%;
				margin: 0 auto 20px;
				font: bold normal 18px/23px $font_name;
				color: #fff;
				text-align: center;
			}
			& .buttons-under-logo {
				top: 550px;
				text-align: center;
				& > div {
					margin: 0 auto;
					display: inline-block;
					& a {
						cursor: pointer;
						//width: 186px;
						transition: background-color .2s, box-shadow .2s;
						position: relative;
						float: left;
						& .btn-text {
							display: block;
							text-align: right;
							color: white;
							padding-right: 22px;
							padding-left: 70px;
							font: bold normal 34px/63px $font_name;
						}
						&.blue-watch-button {
							border: 3px solid #00f7f9;
							background-color: rgba(0,196,255,.3);
							box-shadow: 0 0 0 rgba(0,248,249,0);
							html.desktop &:hover {
								background-color: rgba(0,196,255,.4);
								box-shadow: 0 0 10px rgba(0,248,249,.6);
							}
							& span.icon {
								position: absolute;
								width: 56px;
								height: 44px;
								top: 9px;
								left: 15px;
								background: url("../media/social.png") -29px -54px;
							}
						}
						&.red-registration-button {
							margin-left: 41px;
							border: 3px solid #f70f57;
							background-color: rgba(247,16,87,.3);
							box-shadow: 0 0 0 rgba(247,16,87,0);
							html.desktop &:hover {
								background-color: rgba(247,16,87,.4);
								box-shadow: 0 0 10px rgba(247,16,87,.6);
							}
							& span.icon {
								position: absolute;
								width: 56px;
								height: 44px;
								top: 9px;
								left: 15px;
								background: url("../media/social.png")  -29px -4px;
							}
						}
					}
				}
			}
		}
	}
	& .second-block {
		position: relative;
		z-index: 0;
		& .row {
			& div {
				float: left;
				&.second-girl-left {
					position: absolute;
					top: -499px;
					left: 8px;
					//background: url("../media/kongou.png") no-repeat;
					& > img {
						//height: 657px;
						width: 721px;
					}
				}
				&.left-side {
					position: relative;
					z-index: 2;
					color: white;
					width: 30%;
					& .left-text-block {
						padding: 0 34px 0 58px;
						& p {
							font-family: $font_name;
							margin-top: 30px;
							font-size: 18px;
							line-height: 24px;
							&.title-text {
								font-size: 29px;
								color: #00f8f9;
							}
							&.bold-text {
								margin-top: 27px;
								font: bold 17px/24px $font_name;
							}
							&:nth-child(1) {
								margin-top: 0;
							}
						}
					}
				}
				&.clearfix {
					float: none;
				}
			}
		}
		& .right-image {
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0%);
			//background: url("../media/ship1.png") no-repeat;
			width: 2073px;
			//height: 574px;
			top: -45px;
		}
		& .wow-logo {
			width: 248px;
			position: absolute;
			z-index: 11;
		}
	}
	& .third-block {
		height: 600px;
		margin-top: 120px;
		& .third-ship-image {
			//background: url("../media/ship2.png") no-repeat;
			height: 575px;
			width: 1315px;
			position: absolute;
			left: -317px;
			top: -17px;
		}
		& .third-girl-image {
			width: 631px;
			position: absolute;
			top: -126px;
			left: 54%;
		}
		& .title-third-block {
			position: absolute;
			top: 403px;
			display: inline-block;
			margin-left: 51px;
		}
		& .title-third-block-text {
			width: 70%;
			color: #fff;
			font: bold 33px/24px $font_name;
			z-index: 1;
			position: relative;
			letter-spacing: -1.4px;
		}
		& .bluesteel-logo {
			width: 248px;
			position: absolute;
			z-index: 1;
		}
	}
	& .fourth-block {
		height: 984px;
		z-index: 100;
		& .fourth-girl-image {
			width: 831px;
			//height: 1064px;
			//background: url("../media/takao.png") no-repeat;
			position: absolute;
			top: -138px;
			left: -178px;
		}
		& .form {
			color: white;
			margin-top: 72px;
			margin-right: 55px;
			width: 624px;
			height: 830px;
			float: right;
			& .title-form {
				font-family: $font_name;
				font-size: 30px;
				font-weight: bold;
				color: #00f7f8;
				line-height: 30px;
				letter-spacing: -1px;
			}
			& .regform-section-tx {
				font-family: $font_name;
				font-size: 14px;
				font-weight: 400;
				line-height: 14px;
				margin: 21px 0 14px;
			}
			& .regform-section ._registration ._nobb {
				margin-top: 37px
			}
			& .regform-section ._social {
				padding: 0
			}
			& .reg-form {
				padding-left: 42px;
				padding-top: 16px;
			}
			& .half-form {
				width: 44%;
				display: inline-block
			}
			& .half-form-right {
				margin-left: 11%;
			}
			& .socialreg-ico {
				height: 44px;
				width: 44px;
				margin: 0;
				& .form-icons-social {
					display: block;
					height: 100%;
					& span {
						//background: url("../media/social.png") no-repeat;
						background-size: contain;
						display: inline-block;
						height: 44px;
						width: 44px;
						transition: box-shadow .3s;
						html.desktop &:hover {
							box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
						}
					}
					//&.fb {
					//	background-color: #3a5a99 ;
					//	& span {
					//		background-position: -77px 0;
					//		background-size: 400%;
					//	}
					//}
					//&.vk {
					//	background: #4c76a4;
					//	& span {
					//		background-position: -95px -33px;
					//		background-size: 470%;
					//	}
					//}
					//&.tw {
					//	background: #54abee;
					//	& span {
					//		background-position: -56px -29px;
					//		background-size: 420%;
					//	}
					//}
					//&.gp {
					//	background: #d64037;
					//	& span {
					//		background-position: -68px -4px;
					//		background-size: 500%;
					//	}
					//}
				}
			}
		}
	}
}