footer {
	font-family: $font_name;
	background: #101011;
	//height: 350px;
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
	& .social-block {
		& .container-soc {
			display: table;
			// height: calc(100% - 44px);
			margin: 22px auto;
			// margin: 22px 15%;
			// overflow: hidden;
		}
		& > a {
			width: 25%;
			height: 83px;
			float: left;
		}
		&.social-block-3 > a {
			width: 33.33333%;
		}
		&.social-block-2 > a {
			width: 50%;
		}
		&.social-block-1 > a {
			width: 100%;
		}
		& .social-block-text {
			height: 40px;
			margin-left: 10px;
			// width: calc(94.5% - 38px);
			display: inline-block;
			float: left;
			color: white;
			line-height: 20px;
			opacity: .8;
			& .soc-name {
				text-transform: uppercase;
				font: normal 13px/20px $font_name;
				width: 100%;
			}
			& .soc-count {
				font: 400 14px / 21px $font_name;
			}
		}
		& i {
			background-size: contain;
			height: 38px;
			width: 38px;
			float: left;
			display: inline-block;
		}
		& .wg {
			background: #393d3f;
		}
		& .vk {
			background: #587A9F;
		}
		& .fb {
			background: #3a5a99;
		}
		& .tw {
			background: #54abee;
		}
		& .yt {
			background: #cc181e;
		}
		& .gp {
			background: #D64037;
		}
	}
	& .footer-info {
		color: #767676;
		text-align: center;
		font: 14px $font_name;
		& .links {
			margin-top: 36px;
			& a {
				color: #fff;
				margin: 0 42px;
				//letter-spacing: -2px;
				font-size: 13px;
			}
		}
		.logotype {
			margin: 29px 0 24px;
			display: inline-block;
			& img {
				height: 70px;
				width: 132px;
			}
		}
		& p {
			font-size: 13px;
			line-height: 16px;
		}
		& .copyright {
			padding-bottom: 20px;
		}
	}
	.ratingBlock {
		float: right;
		margin-top: -120px;
		margin-right: 14px;
	}
	.rating img {
		height: 58px;
		opacity: 0.5;
		transition: opacity .5s;
		&:hover {
			opacity: 1;
		}
	}
}

.push {
	transform-style: preserve-3d;
	transform-origin: top center;
	transform: rotateX(-20deg);
	animation: pushdown .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes pushdown {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(-20deg);
	}
}

@keyframes release {
	0% {
		transform: rotateX(-20deg);
	}
	25% {
		transform: rotateX(15deg);
	}
	48% {
		transform: rotateX(-12deg);
	}
	68% {
		transform: rotateX(9deg);
	}
	80% {
		transform: rotateX(-5deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}

.push {
	transform-style: preserve-3d;
	transform-origin: top center;
	transform: rotateX(-20deg);
	animation: flip-down .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes flip-down {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(-20deg);
	}
}

.release {
	transform-style: preserve-3d;
	transform-origin: top center;
	transform: rotateX(0deg);
	animation: flip-release .4s ease-out;
}

@keyframes flip-release {
	0% {
		transform: rotateX(-20deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}