
.desctopwrp {
	min-height: 100%;
	padding: 0 59px 203px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.desctopwrp-bg {
	max-height: 100%;
	min-width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.bgvideo {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	max-height: 100%;
}

.bgpattern {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../media/lines_pattern.png") 0 0 repeat;
}

.desctopwrp-cont {
	position: relative;
	max-width: 1592px;
	margin: 0 auto;
}

.desctopwrp-cont:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.desctopwrp-cont-logo {
	width: 555px;
	margin-bottom: 112px;
	display: inline-block;
	border-bottom: none;
	text-decoration: none;
}

.desctopwrp-cont-promo {
	position: absolute;
	left: 160px;
	top: 81px;
	color: #FFF;
	font-family: "WG", arial, sans-serif;
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.28);
	max-width: 43%;
	width: 50%;
}

.desctopwrp-cont-promo-tx {
	margin: 0;
	font-weight: bold;
	letter-spacing: 1.1px;
}

.desctopwrp-cont-promo-tx._first {
	font-size: 60px;
}

.desctopwrp-cont-promo-tx._first {
	line-height: 60px;
}

.desctopwrp-cont-promo-tx._second {
	line-height: 106px;
	letter-spacing: 2.5px;
}

.desctopwrp-cont-promo-tx._second {
	font-size: 100px;
	margin-left: 95px;
}

.regform {
	float: right;
	background: url("../media/form-bg.png") 50% 50% no-repeat;
	//background-size: cover;
	background-size: contain;
	position: relative;
	// margin-top: 73px;
	//width: 688px;
	color: #ffffff;
	font-size: 11px;
	line-height: 14px;
	z-index: 2;
	overflow: hidden;
	width: 100%;
	padding: 32px 21px 36px 40px;
}

.desctopwrp-cont-logo-pic {
	background: 0 0 no-repeat;
	padding-bottom: 42.779783%;
	background-size: contain;
	position: relative;
}

.footer-links-i._soc {
	width: 32px;
	height: 32px;
	margin-left: 14px;
}

.footer-links-i-pic {
	max-width: 100%;
	max-height: 100%;
}

.regform-item-inp {
	width: 100%;
	border: 1px solid #00cbff;
	background-color: rgba(0, 203, 255, .1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 44px;
	padding: 0 7px 0 7px;
	color: white;
	font-size: 14px;
}

.regform-item-inp::-ms-clear,
.regform-item-inp::-ms-reveal {
	width: 0;
	height: 0;
	display: none;
}

.lt-ie9 .regform-item-inp {
	line-height: 37px;
}

.regform-item {
	margin-bottom: 11px;
	font-size: 0;
	overflow: hidden;
	text-align: left;
	position: relative;
}

.regform-item._cap {
	margin-top: 0;
	margin-bottom: 23px;
}

.regform-item._cap .regform-item-t {
	margin-bottom: 9px;
}

.regform-item._ovfvis {
	overflow: visible;
}

.regform-item-lb {
	margin-bottom: 5px;
	position: relative;
}

.regform-item-lb._half {
	width: 44%;
	display: inline-block;
	margin-left: 11.6%;
}

.regform-item-lb._half:first-child {
	margin-left: 0;
}

.regform-section {
	padding-top: 16px;
}

.regform-section:first-child {
	padding-top: 0;
}

.regform-section._nobb {
	border-bottom: none;
	padding-top: 20px;
}

.regform-desrc {
	padding-bottom: 3px;
}

.regform-desrc-t {
	color: #FFF;
	font-family: "WG", arial, sans-serif;
	font-size: 36px;
	font-weight: bold;
	margin: 0 0 13px;
	line-height: 1em;
	letter-spacing: 0.8px;
}

.regform-section-tx {
	color: #FFF;
	font-family: "arial", sans-serif;
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
	margin: 0 0 14px;
}

.regform-item-t {
	color: #FFF;
	font-size: 14px;
	margin-bottom: 8px;
	display: block;
	font-family: $font_name;
}

.regform-item-hint {
	margin: 0;
	color: #696667;
	font-size: 12px;
	font-family: $font_name;
}

.regform-item-cap {
	height: 60px;
	float: left;
	padding-right: 4%;
	position: relative;
	margin-left: 11.6%;
}

.regform-item-cap img {
	float: left;
	width: 128px;
	height: 46px;
}

.regform-item-lb._ovrf {
	overflow: visible;
	display: block;
	float: left;
	width: 44%;
}

.regform-item-promocode {
	color: #08ceff;
	font-size: 13px !important;
	font-weight: 700;
	border-bottom: 1px solid;
	cursor: pointer;
	transition: color .3s;
	display: inline-block;
	margin-bottom: 5px;
	font-family: $font_name;
}

.regform-item-promocode:hover {
	color: #F71057;
}

.regform-send {
	border: 0;
	width: 272px;
	background-color: #f71057;
	color: white;
	font: 18px $font_name;
	padding: 12px 0;
	position: relative;
	text-align: center;
	transition: background-color .2s;
}

.regform-send:hover {
	background-color: $buttonColorHover;
}

.regform-send:active {
	background-color: #f71057;
}

.regform-sent-tx {
	position: relative;
	letter-spacing: 1px;
}

.socialreg-ico {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 22px;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.regform-item-statusico {
	position: absolute;
	bottom: 10px;
	right: 9px;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-ms-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	opacity: 0;
}

.lt-ie9 .regform-item-statusico {
	opacity: 1;
	visibility: hidden;
}

._ok .regform-item-statusico {
	width: 18px;
	height: 13px;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

._ok .regform-item-statusico._cap {
	background: none;
}

.regform-item._err .regform-item-inp {
	border: 1px solid #ff7866;
}

.regform-item._err .regform-item-hint {
	color: #ff7866;
}

.regform-item._ok .regform-item-statusico,
.regform-item._err .regform-item-statusico {
	opacity: 1;
}

.bgvideo-i {
	width: 100%;
	height: 100%;
}

#big-video-wrap {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	font-size: 0;
	background: transparent;
}

#big-video-vid,
#big-video-image {
	position: absolute;
}

.justifyed {
	line-height: normal;
	font-size: 14px;
	vertical-align: top;
	text-align: left;
	display: inline-block;
	white-space: normal;
}

.afterforminfo {
	font-size: 9px;
	color: #fff;
	text-align: center;
}

.afterforminfo a {
	color: #fffefe;
	text-decoration: underline;
}

.afterforminfo a:hover {
	color: #fffefe;
	text-decoration: none;
}

.regform-item._promocode {
	margin-bottom: 22px;
	margin-top: 47px;
}

.regform-item-reloadcap {
	border-bottom: 1px solid;
	display: inline-block;
	margin-top: 19px;
	margin-left: 22px;
	height: 22px;
	cursor: pointer;
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	-ms-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
	white-space: nowrap;
	color: #08ceff;
	font: 14px $font_name;
}

.regform-item-reloadcap:hover {
	color: #F71057;
}

.regform-item-promocode-wrp {
	display: none;
}

._noretinapic {
	display: block;
}

._retinatrick {
	display: none;
}

._noretinapic_inline {
	display: inline-block;
}

._retinatrick_inline {
	display: none;
}

.desktop ._mobile {
	display: none;
}

.mobile ._mobile {
	display: block;
}

.tablet ._tablet {
	display: block;
}

.mobile ._desctop,
.tablet ._desctop {
	/*display: none;*/
}

.regform-item._err .regform-item-promocode:hover {
	color: #FDBF34;
	cursor: default;
}

/**/

.desctopwrp-cont-promo-tx._default {
	display: none;
	font-size: 35px;
}

.regform:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.regform-message {
	width: 99%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.regform-message_text {
	margin-top: 2em;
	font-size: 24px;
	line-height: normal;
}

.regform-data {
}

.regform-send {
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}

.regform-send-stripes {
	background-image: url("../media/stripes.png");
	background-position: 0 0;
}

.animate-lines {
	animation: lines 1s linear infinite;
	-moz-animation: lines 1s linear infinite;
	-o-animation: lines 1s linear infinite;
	-ms-animation: lines 1s linear infinite;
	-webkit-animation: lines 1s linear infinite;
	-khtml-animation: lines 1s linear infinite;
}

.regform-item-inp._err {
	border: 2px solid #ff7866;
}

.js-hidden {
	display: none;
}

.regform-section._social {
	padding-top: 0;
}

.regform-section {
	padding-top: 15px;
}

.regform-section._nobb {
	padding-top: 58px;
}

.forms-input-padding {
	padding-top: 38px;
}

.regform-checkbox p {
	font-family: $font_name;
	font-size: 14px;
	display: inline-block;
}

.regform-checkbox p a {
	color: #08ceff;
	border-bottom: 1px solid #08ceff;
}

.reg-box-notice {
	display: inline-block;
	margin: 15px 9px 33px 0;
}

.reg-box-notice input[type="checkbox"] {
	display: none;
}

.reg-box-notice input[type="checkbox"] + label {
	cursor: pointer;
	background: url("../media/social.png") no-repeat;
	padding: 4px 10px;
	background-position: -54px -103px;
}

.reg-box-notice input[type="checkbox"]:checked + label {
	background-position: -33px -103px;
}

.no-touchevents.desktop .reg-box-notice input[type="checkbox"] + label:hover {
	background-position: -33px -124px;
}

.regform-item._ovfvis {
	margin-bottom: 17px;
}

.regform-item.regform-checkbox {
	margin: 0;
	font-size: inherit;
}

.b-popup {
	width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 100;
}

.b-popup .b-popup-content a {
	float: right;
	color: red;
	font-weight: bold;
	font-size: 20px;
}

.b-popup .b-popup-content {
	margin: 40px auto 0 auto;
	width: 300px;
	padding: 10px;
	background-color: #c5c5c5;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
}

.success {
	display: block;
	height: 200px;
	width: 200px;
	color: white;
	font-size: 110px;
	text-align: center;
	line-height: 200px;
	border-radius: 50%;
	margin: 30px auto;
	background-color: #39C139;
}

._cap .regform-item-hint {
	position: absolute;
	top: 108px;
}

.eula {
	margin-left: 6px;
}

.half-form .regform-item-hint {
	height: 25px;
}

._promocode .regform-item-inp {
	height: 50px !important;
}