header {
	height: 80px;
	.row {
		height: 100%;
	}
	nav {
		height: 100%;
		.social-head {
			float: left;
			width: 20%;
			margin-top: 24px;
			display: inline-block;
			& ul {
				width: 218px;
				margin-left: 45px;
			}
			& li {
				width: 25px;
				margin-right: 29.25px;
				height: 22px;
				display: inline-block;
				float: left;
				opacity: .8;
				background-size: contain;
				transition: opacity .2s ease-in-out;
				html.desktop &:hover {
					opacity: 1;
				}
				& a {
					display: block;
					cursor: pointer;
					height: 100%;
				}
			}
		}
		& .hamburger {
			display: none;
			position: absolute;
			right: 0;
			top: 0;
			width: 30px;
			height: 30px;
			margin: 20px;
			z-index: 10;
		}
		.menu-header {
			float: left;
			display: inline-block;
			width: 80%;
			margin: 16px 0 0 0;
			& ul {
				display: block;
				margin-right: 58px;
				text-align: right;
				& li {
					display: inline-block;
					text-align: center;
					margin: 13px 43px;
					& a {
						
						font: bold normal 17px/18px $font_name;
						color: #fff;
						display: block;
						opacity: .8;
						transition: opacity .2s ease-in-out;
						html.desktop &:hover {
							opacity: 1;
						}
					}
					&:nth-child(1) {
						letter-spacing: -1px;
						margin-right: 52px;
					}
					&:nth-child(2) {
						letter-spacing: 0.8px;
						margin-right: 40px;
					}
					&.btnScrllToForm {
						margin: 0 0 0 55px;
						background-color: $buttonColor;
						transition: background-color .2s;
						& a {
							padding: 13px 43px;
						}
						html.desktop &:hover {
							background-color: $buttonColorHover;
						}
					}
				}
			}
		}
	}
}

// Hamburger menu
#hamburger-icon {
	width: $width-line;
	height: $height-icon;
	position: relative;
	display: block;
	margin: 3px auto $height-icon auto;

	.line {
		display: block;
		background: white;
		width: $width-line;
		height: $height-line;
		position: absolute;
		left: 0;
		border-radius: ($height-line / 2);
		transition: all $transition-time;
		-moz-transition: all $transition-time;

		&.line-1 {
			top: 0;
		}
		&.line-2 {
			top: 50%;
		}
		&.line-3 {
			top: 100%;
		}
	}
	html.desktop &:hover, &:focus {
		.line-1 {
			transform: translateY($height-line / 2 * -1);
		}
		.line-3 {
			transform: translateY($height-line / 2);
		}
	}
	&.active {
		position: fixed;
		.line-1 {
			transform: translateY($translateY) translateX($translateX) rotate($rotation);
		}
		.line-2 {
			opacity: 0;
		}
		.line-3 {
			transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
		}
	}
}
