@import "includes/settings";
@import "includes/fonts";
@import "includes/reset";
@import "header";
@import "content";
@import "footer";
@import "colorbox";
@import "form_elements";
@import "includes/media";

html, body {
	overflow-x: hidden;
}

.row {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}

.regform-item-t > span {
	color: $buttonColor;
}

body {
	//background-image: url("../media/bg-1920.jpg");
	background-position: center top;
	background-color: #020D21;
	background-repeat-x: no-repeat;
	margin: 0 auto;
}
.mobile body,
.tablet body {
    background-size: cover;
}

.mobile .third-girl-image {
	left: inherit !important;
	right: 0 !important;
}

.mobile .fourth-girl-image {
	left: inherit !important;
	right: 0 !important;
}

.fixedHeight {
	height: 100vh;
}