
@font-face {
	font-family: 'KozGoPr6N-Bold';
	src: url('fonts/kozgopr6n-bold/KozGoPr6N-Bold.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/kozgopr6n-bold/KozGoPr6N-Bold.otf')  format('opentype'),
		 url('fonts/kozgopr6n-bold/KozGoPr6N-Bold.woff') format('woff'), 
		 url('fonts/kozgopr6n-bold/KozGoPr6N-Bold.ttf')  format('truetype'), 
		 url('fonts/kozgopr6n-bold/KozGoPr6N-Bold.svg#KozGoPr6N-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Kozuka Gothic Pr6N';
	src: url('fonts/warhelioscondc/warhelioscondc-webfont.eot');
	src: url("fonts/warhelioscondc/warhelioscondc-webfont.eot?#iefix") format("embedded-opentype"),
		 url("fonts/warhelioscondc/warhelioscondc-webfont.woff") format("woff"),
		 url("fonts/warhelioscondc/warhelioscondc-webfont.ttf") format("truetype"),
		 url("fonts/warhelioscondc/warhelioscondc-webfont.svg#Warhelioscondc") format("svg");
	font-weight: normal;
	font-style: normal;
}