<!DOCTYPE html>
<html class="asd">

<head>
    <meta charset="UTF-8">
    <title>{{111}}</title>
</head>

<body>
    <script>
    // IE detect
    if (getInternetExplorerVersion() != -1) {
        var classes = document.getElementsByTagName("html")[0].getAttribute("class");
        document.getElementsByTagName("html")[0].setAttribute("class", classes + " ie");
    }


    function getInternetExplorerVersion() {
        var rv = -1; // Return value assumes failure.
        if (navigator.appName == 'Microsoft Internet Explorer') {
            var ua = navigator.userAgent;
            var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
            if (re.exec(ua) != null)
                rv = parseFloat(RegExp.$1);
        }
        return rv;
    }
    </script>
</body>

</html>
