html.mobile .first-girl-right,
html.mobile .second-girl-left > img,
html.mobile .third-girl-image,
html.mobile .fourth-girl-image {
	width: initial !important;
	height: initial !important;
}

@media (max-width: 540px) {
	article .main-logos .row .first-girl-right {
		width: 126px !important;
		right: -16px;
	}
	article .second-block .row div.second-girl-left {
		left: 0;
		top: -68px;
	}
	article .second-block .row div.second-girl-left img {
		width: 290px !important;
	}
	article .second-block .right-image {
		left: 21% !important;
	}
	article .third-block .third-girl-image {
		left: initial;
		right: 0;
		width: 130px !important;
		top: 50px;
	}
	article .fourth-block .fourth-girl-image {
		width: 260px !important;
		top: 848px;
		right: -20px;
	}
	article .fourth-block .form {
		margin-top: 12px !important;
	}
	.regform-data {
		padding: 13px 17px 0;
	}
}