html.tablet .first-girl-right,
html.tablet .second-girl-left > img,
html.tablet .third-girl-image,
html.tablet .fourth-girl-image {
	width: initial !important;
	height: initial !important;
}

@media (max-width: 1080px) {
	article .third-block .third-girl-image {
		left: inherit !important;
		right: 0 !important;
	}
	article .fourth-block .fourth-girl-image {
		top: 650px !important;
		right: 0;
		left: inherit !important;
	}
	article .main-logos .row .first-girl-right {
		width: 226px !important;
		right: -44px !important;
	}
	article .main-logos .row img.logo-front {
		left: 39px;
		top: 1px;
		width: 500px;
	}
	article .second-block .row div.second-girl-left {
		left: -24px !important;
		top: -68px;
	}
	article .second-block .row div.second-girl-left img {
		width: 450px !important;
	}
	article .second-block .right-image {
		left: 32% !important;
	}
	article .third-block .third-girl-image {
		left: initial;
		top: 50px;
		width: 400px !important;
		right: -170px !important;
	}
	article .third-block .third-ship-image {
		top: -55px !important;
	}
	article .fourth-block .fourth-girl-image {
		width: 390px !important;
		top: 685px !important;
		right: -5px;
	}
	article .fourth-block .form {
		margin-top: 90px !important;
	}
	.regform-data {
		padding: 13px 17px 0;
	}
}
