@font-face {
	font-family: 'Kozuka Gothic Pr6N';
	src: url('../fonts/kozgopr6n-regular/KozGoPr6N-Regular.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/kozgopr6n-regular/KozGoPr6N-Regular.woff') format('woff'), 
		 url('../fonts/kozgopr6n-regular/KozGoPr6N-Regular.ttf')  format('truetype'), 
		 url('../fonts/kozgopr6n-regular/KozGoPr6N-Regular.svg#KozGoPr6N-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Warhelioscondc';
	src: url('../fonts/warhelioscondc/warhelioscondc-webfont.eot');
	src: url("../fonts/warhelioscondc/warhelioscondc-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/warhelioscondc/warhelioscondc-webfont.woff") format("woff"),
		 url("../fonts/warhelioscondc/warhelioscondc-webfont.ttf") format("truetype"),
		 url("../fonts/warhelioscondc/warhelioscondc-webfont.svg#Warhelioscondc") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Warhelioscondc';
	src: url('../fonts/warhelioscondcbold/warhelioscondcbold-webfont.eot');
	src: url("../fonts/warhelioscondcbold/warhelioscondcbold-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/warhelioscondcbold/warhelioscondcbold-webfont.woff") format("woff"),
		 url("../fonts/warhelioscondcbold/warhelioscondcbold-webfont.ttf") format("truetype"),
		 url("../fonts/warhelioscondcbold/warhelioscondcbold-webfont.svg#Warhelioscondc") format("svg");
	font-weight: bold;
	font-style: normal;
}