@media (max-width: 1920px) {
	article .second-block .wow-logo {
		right: 13%;
		top: 190px;
	}
}

@media (max-width: 1800px) {
	article .second-block .wow-logo {
		right: 11%;
	}
}

@media (max-width: 1600px) {
	article .second-block .wow-logo {
		right: 7%;
	}
}

@media (max-width: 1400px) {
	footer .social-block .container-soc {
		display: table;
	}
	article .second-block .wow-logo {
		right: 2%;
	}
}

@media (max-width: 1366px) {
	article {
		.second-block {
			.row {
				padding-top: 555px;
				div.left-side {
					width: 100%;
					text-align: center;
				}
			}
			.right-image {
				left: 40%;
			}
		}
		.third-block {
			.third-girl-image {
				// right: -10%;
			}
			.title-third-block-text {
				font-size: 24px;
				letter-spacing: -2.4px;
			}
			.title-third-block {
				margin-left: 34px;
				top: 410px;
			}
		}
	}
	header nav .menu-header ul li {
		margin: 13px 4%;
		&:nth-child(2) {
			margin-right: 4%;
		}
		&.btnScrllToForm {
			margin: 0 2% 0 4%;
		}
	}
	article .second-block .wow-logo {
		right: 6%;
	}
}

@media (max-width: 1200px) {
	article .main-logos .row .buttons-under-logo {
		top: 550px;
	}
}

@media (max-width: 1136px) {
	header nav .menu-header ul {
		margin-right: 20px;
	}
}

@media (max-width: 1080px) {
	// header start
	header {
		height: 70px;
		nav {
			.social-head {
				ul {
					width: 177px;
					margin-left: 19px;
				}
				li {
					margin-right: 19px;
				}
			}
			.menu-header {
				margin: 17px 0 0;
				ul li {
					margin: 0;
					&:nth-child(1) {
						margin-right: 8%;
					}
					&:nth-child(2) {
						margin-right: 2%;
					}
					a {
						font-size: 14px;
						line-height: 19px;
					}
					&.btnScrllToForm a {
						padding: 8px 17px;
					}
				}
			}
		}
	}
	article {
		.second-block {
			.row {
				padding-top: 295px;
				div {
					&.second-girl-left {
						background-size: contain;
						top: -347px;
						left: -26px;
						z-index: 1;
						& > img {
							width: 459px;
						}
					}
					&.left-side .left-text-block p {
						font-size: 13px;
						margin-top: 18px;
						&.bold-text {
							font-size: 13px;
							margin-top: 24px;
						}
					}
				}
			}
			.right-image {
				top: -122px;
				background-size: contain;
				width: 1424px;
				left: 32%;
			}
		}
		.third-block {
			height: 394px;
			.third-ship-image {
				background-size: contain;
				height: 392px;
				left: -216px;
				top: -60px;
			}
			.third-girl-image {
				background-size: contain;
				width: 402px;
				top: 38px;
				// right: -178px;
			}
			.title-third-block {
				top: 225px;
			}
		}
		.fourth-block {
			height: 1171px;
			.third-ship-image {
				background-size: contain;
				width: 389px;
				top: 680px;
				right: -11px;
				left: inherit;
			}
			.form {
				width: 102%;
				margin-right: -1%;
			}
			.fourth-girl-image {
				width: 400px !important;
				top: 737px !important;
				left: inherit;
				right: 0;
			}
		}
		.main-logos .row {
			.first-girl-right {
				height: 58%;
				top: -18px;
				right: 0;
			}
			.logo-front {
				//background-size: contain;
				margin-top: 19px;
				margin-left: 6px;
				width: 530px;
			}
			.text-under-logo {
				top: 471px;
				width: 80%;
				font-size: 14px;
			}
			.buttons-under-logo {
				top: 490px;
				> div a {
					//width: 140px;
					&.red-registration-button {
						margin-left: 30px;
						span.icon {
							width: 31px;
							height: 24px;
							font-size: 26px;
							line-height: 46px;
							background-position: -19px -4px;
							background-size: 660%;
							top: 11px;
						}
					}
					span.btn-text {
						font-size: 26px;
						line-height: 46px;
						padding-right: 13px;
					}
					&.blue-watch-button span.icon {
						width: 33px;
						height: 30px;
						font-size: 26px;
						line-height: 46px;
						background-position: -19px -34px;
						background-size: 660%;
						top: 11px;
					}
				}
			}
		}
	}
	footer {
		//height: 480px;
		.social-block > a {
			width: 50%;
		}
		.footer-info .copyright {
			padding: 0 7%;
		}
		.social-block.social-block-3 > a {
			width: 50% !important;
			&:last-child {
				width: 100% !important;
			}
		}
		.social-block-2 > a {
			width: 50%;
		}
		.social-block-1 > a {
			width: 100%;
		}
	}
	.regform {
		background-size: 110% 100%;
		background-position: -2% 0;
		width: 94%;
	}
	article .main-logos .row .buttons-under-logo > div a .btn-text {
		font-size: 30px;
		line-height: 46px;
		padding-right: 10px;
	}
	article .second-block .wow-logo {
		width: 170px;
		right: 23%;
		top: 42px;
	}
	article .third-block .bluesteel-logo {
		width: 170px;
	}
}

@media (max-width: 980px) {
	article .second-block .wow-logo {
		right: 18%;
	}
}

@media (max-width: 920px) {
	article .second-block .wow-logo {
		right: 16%;
	}
}

@media (max-width: 840px) {
	article .second-block .wow-logo {
		right: 10%;
	}
}

@media (max-width: 800px) {
	article {
		.main-logos .row {
			.top-left-border {
				left: -480px;
			}
			.top-right-border {
				right: -428px;
			}
		}
		.fourth-block .form {
			margin-top: 170px;
		}
	}
}

@media (max-width: 740px) {
	article .second-block .wow-logo {
		right: 5%;
	}
	footer .ratingBlock {
		float: inherit;
		margin: 0;
		padding: 20px 0;
	}
}

@media (max-width: 720px) {
	article .fourth-block .fourth-girl-image {
		left: 0;
		right: inherit;
	}
}

@media (max-width: 700px) {
	article {
		.main-logos .row {
			img.logo-front {
				left: 28px;
			}
		}
	}
}

@media (max-width: 666px) {
	header nav {
		.menu-header {
			display: none;
			top: -100%;
		}
		.hamburger {
			display: block;
		}
	}
}

@media (max-width: 610px) {
	.regform-item-cap {
		padding-right: 0;
		margin-left: 10.6%;
	}
}

@media (max-width: 540px) {
	header {
		height: 55px;
		& nav {
			& .hamburger {
				margin: 12px 16px;
			}
			& .social-head {
				margin-top: 15px;
			}
			& .social-head ul {
				margin-left: 8px;
			}
		}
	}
	article {
		.main-logos {
			height: 700px;
			.row {
				height: 620px;
				.buttons-under-logo {
					top: 470px;
					> div a {
						//width: 120px;
						&.red-registration-button {
							margin-left: 12px;
							span {
								top: 7px;
								left: 12px;
								background-size: 650%;
								background-position: -18px -5px;
							}
						}
						&.blue-watch-button span {
							top: 5px;
							left: 10px;
							background-size: 650%;
							background-position: -16px -34px;
						}
						span.btn-text {
							line-height: 45px;
							padding-right: 8px;
							font-size: 23px;
							padding-left: 55px;
						}
					}
				}
				.top-right-border {
					display: none;
				}
				.first-girl-right {
					height: 53%;
					top: -6px;
					right: 0px;
				}
				.top-left-border {
					left: 0;
				}
				img.logo-front {
					width: 100%;
					left: 0;
					top: 5px;
					margin-left: 2px;
				}
				.text-under-logo {
					width: 89%;
					font-size: 12px;
					line-height: 24px;
				}
			}
		}
		.second-block {
			.row {
				padding-top: 353px;
				div {
					&.second-girl-left {
						top: -65px;
						left: -15px;
						& > img {
							width: 300px;
						}
					}
					&.left-side .left-text-block {
						padding: 0 5%;
						p {
							font-size: 12px;
							margin-top: 24px;
							&.title-text {
								font-size: 17px;
							}
							&.bold-text {
								font-size: 12px;
								margin-top: 15px;
							}
						}
					}
				}
			}
			.right-image {
				top: 97px;
				left: 30%;
				width: 765px;
			}
		}
		.third-block {
			margin-top: 95px;
			height: 241px;
			.third-ship-image {
				height: 215px;
				left: -122px;
			}
			.third-girl-image {
				width: 240px;
				top: 46px;
				left: 72%;
				z-index: 3;
			}
			.title-third-block {
				top: 90px;
				margin-left: 10px;
			}
			.title-third-block-text {
				font-size: 18px;
			}
		}
		.fourth-block .form {
			.title-form {
				font-size: 20px;
			}
			.regform-section-tx {
				margin-bottom: 2px;
			}
			.half-form {
				width: 100%;
			}
			.half-form-right {
				margin-top: 16px;
				margin-left: 0;
			}
		}
	}
	.regform-section {
		padding-top: 11px;
		&._social {
			padding-top: 13px;
		}
		&._nobb {
			padding-top: 34px;
		}
	}
	.regform-item-lb {
		&._half {
			width: 100% !important;
			margin-left: 0 !important;
			margin-top: 37px !important;
			&:first-child {
				margin-top: 0 !important;
			}
		}
		&._ovrf {
			width: 100% !important;
		}
	}
	.regform-item-t {
		font-size: 13px;
	}
	.regform-item-cap {
		margin: 12px 0 0;
	}
	.regform-send {
		width: 262px;
		margin: 0 auto !important;
	}
	.regform {
		background-size: cover;
		background-position: 15% 0;
		padding: 5% 3% 5% 8%;
	}
	.regform-item._promocode {
		margin-top: 44px;
	}
	footer {
		//height: 380px;
		.social-block {
			> a {
				width: 25%;
				height: 66px;
			}
			.social-block-3 > a {
				width: 33.33%;
			}
			.social-block-3 > a {
				width: 50%;
			}
			.social-block-text {
				display: none;
			}
			.container-soc {
				margin: 14px auto;
			}
		}
		.footer-info .links a {
			margin: 0 20px;
		}
	}
	.forms-input-padding {
		padding-top: 0 !important;
		margin-top: 16px;
	}
	.regform-item._cap {
		margin-top: 30px;
	}
	.regform-item-cap {
		margin: 10px 0 0 !important;
	}
	.regform-item-hint {
		text-align: center;
		display: block !important;
		margin: 0 0 10px 0;
	}
	article .fourth-block {
		height: 1200px;
		.fourth-girl-image {
			top: 921px !important;
			width: 261px !important;
			right: -38px !important;
			left: initial !important;
		}
		.form {
			margin-top: 30px;
			._cap .regform-item-hint {
				top: 70px !important;
				width: 100%;
			}
		}
	}
	article .second-block .wow-logo {
		width: 93px;
		right: 21%;
		top: 184px;
	}
	article .third-block .bluesteel-logo {
		width: 93px;;
	}
	html.mobile article .main-logos .row {
		.text-under-logo {
			line-height: 17px !important;
		}
		img.logo-front {
			min-width: 200px !important;
			width: 75% !important;
			left: 13% !important;
		}
	}
}

@media (max-width: 490px) {
	article .main-logos .row {
		& .text-under-logo {
			top: 420px;
		}
		& .buttons-under-logo {
			top: 420px;
		}
	}
}

@media (max-width: 420px) {
	article .main-logos .row {
		& .text-under-logo {
			top: 360px;
		}
		& .buttons-under-logo {
			top: 370px;
		}
	}
	article .second-block .wow-logo {
		right: 6%;
	}
}

@media (max-width: 340px) {
	article {
		& .main-logos {
			& .row .text-under-logo {
				top: 316px;
			}
			&,
			& .row {
				height: 650px;
			}
			& .row .buttons-under-logo {
				top: 310px;
			}
			& .row .buttons-under-logo > div a span.btn-text {
				//font-size: 21px;
				line-height: 39px;
				text-align: right;
				display: block;
				//padding-right: 14px;
				padding-right: 3px;
				padding-left: 42px;
				font-size: 20px;
			}
			& .row .buttons-under-logo > div a.blue-watch-button span.icon {
				top: 7px;
				left: 10px;
			}
			& .row .buttons-under-logo > div a.red-registration-button span.icon {
				top: 9px;
				left: 11px;
			}
		}
	}
	html.mobile {
		article .main-logos {
			height: 520px !important;
		}
		article .main-logos .row .buttons-under-logo {
			top: 230px !important;
		}
	}

}

.hamburger-menu-view {
	width: 100% !important;
	position: fixed;
	top: 0 !important;
	left: 0;
	margin: 0 !important;
	padding: 0;
	height: 100%;
	background: #000;
	z-index: 5;
	display: block !important;
	& > ul {
		margin: 20vh 0 !important;
		height: 40vh;
		& li {
			display: block;
			width: 190px;
			margin: 5vh calc(50% - 95px) !important;
			& a {
				font-size: 22px !important;
			}
			&.btnScrllToForm a {
				padding: 14px !important;
			}
		}
	}
}


html.mobile article .third-block .third-girl-image {
	width: 100px !important;
}
html.tablet article .third-block .third-girl-image {
	width: 240px !important;
	right: 0 !important;
	left: initial !important;
}
html.tablet article .fourth-block .fourth-girl-image {
	right: 0 !important;
	left: initial !important;
}
html.tablet {
	article .main-logos .row img.logo-front {
		width: 35%;
	}
	&.landscape article .main-logos .row .buttons-under-logo {
		top: 390px;
	}

	&.portrait {
		article .main-logos {
			height: 800px !important;
		}
		article .main-logos .row .buttons-under-logo {
			top: 290px;
		}
	}
}
.ipad {
	.half-form {
		overflow: visible !important;
		.regform-item-hint {
			position: absolute;
			top: 72px;
		}
	}
}