$margin: 16px;
// start hamburger menu setting
$height-icon: 15px;
$width-line: 20px;
$height-line: 3px;

$transition-time: 0.4s;
$rotation: 145deg;
$translateY: ($height-icon / 2);
$translateX: 0;
// end hamburger menu setting

$font_name: 'Kozuka Gothic Pr6N';
$font_name: 'Warhelioscondc';

$buttonColor: #f71057;
$buttonColorHover: #B91144;

@mixin spritebox($left, $top, $scale) {
	background: url("../media/social.png") no-repeat $left $top;
	height: 38px;
	background-size: $scale;
	width: 38px;
	float: left;
	display: inline-block;
}

@mixin spritebox-footer($x, $y) {
	background-size: 370%;
	background-position: $x $y;
}



