<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{tkdz->title}}</title>
	<meta name="description" content="{{tkdz->description}}">
    <meta name="keywords" content="{{tkdz->keywords}}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	<meta property="og:title" content="{{social_button->social_title}}"/>
	<meta property="og:image" content="{{social_button->social_image_link}}"/>
	<meta property="og:description" content="{{social_button->social_description}}"/>
	
	
	<link rel="icon" type="image/png" href="{{global_img->favicon}}"/>
	<style>
		article .third-block .third-ship-image {
			background: url({{screenshots->ship_2}}) no-repeat;
		}

		header nav .social-head li.fb {
			background-image: url({{social_button_img->header_first}});
		}

		header nav .social-head li.vk {
			background-image: url({{social_button_img->header_second}});
		}

		header nav .social-head li.tw {
			background-image: url({{social_button_img->header_third}});
		}

		header nav .social-head li.gp {
			background-image: url({{social_button_img->header_fourth}});
		}

		article .fourth-block .form .socialreg-ico .form-icons-social.fb span {
			background-image: url({{social_button_img->form_first}});
		}

		article .fourth-block .form .socialreg-ico .form-icons-social.vk span {
			background-image: url({{social_button_img->form_second}});
		}

		article .fourth-block .form .socialreg-ico .form-icons-social.tw span {
			background-image: url({{social_button_img->form_third}});
		}

		article .fourth-block .form .socialreg-ico .form-icons-social.gp span {
			background-image: url({{social_button_img->form_fourth}});
		}

		footer .social-block .vk i {
			background-image: url({{social_button_img->footer_first}});
		}

		footer .social-block .fb i {
			background-image: url({{social_button_img->footer_second}});
		}

		footer .social-block .tw i {
			background-image: url({{social_button_img->footer_third}});
		}

		footer .social-block .yt i {
			background-image: url({{social_button_img->footer_fourth}});
		}

		footer .social-block .gp i {
			background-image: url({{social_button_img->footer_fifth}});
		}
	</style>
</head>
<body>
	<div class="container-loader middle-block-parent">
		<div class="middle-block">
			<div class="loader">Loading...</div>
		</div>
	</div>
	<header>
		<div class="row">
			<nav>
				<div class="social-head">
					<ul>
						<li hide="{{social_button_img->header_first_visibility}}" class="fb fb-share"><a></a></li>
						<li hide="{{social_button_img->header_second_visibility}}" class="vk vk-share"><a></a></li>
						<li hide="{{social_button_img->header_third_visibility}}" class="tw tw-share"><a></a></li>
						<li hide="{{social_button_img->header_fourth_visibility}}" class="gp gp-share"><a></a></li>
					</ul>
				</div>
				<div class="hamburger">
					<a id="hamburger-icon" href="#" title="Menu">
						<span class="line line-1"></span>
						<span class="line line-2"></span>
						<span class="line line-3"></span>
					</a>
				</div>
				<div class="menu-header" id="hamburger-menu">
					<ul>
						<li hide="{{header->first_url->visibility}}"><a href="{{header->first_url->url}}" target="_blank">{{header->first_url->title}}</a></li>
						<li hide="{{header->second_url->visibility}}"><a href="{{header->second_url->url}}" target="_blank">{{header->second_url->title}}</a></li>
						<li hide="{{header->third_url->visibility}}" class="btnScrllToForm"><a href="{{header->third_url->url}}" id="downloadBtn" target="_blank">{{header->third_url->title}}</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<article>
		<div class="main-logos">
			<div class="row">
				<div class="top-left-border"></div>
				<div class="top-right-border"></div>
				<div class="logo-front"></div>
				<img src="" class="logo-front" alt="{{global_img->main_logo_alt}}">
				<img src="" alt="{{global_img->first_girl_alt}}" class="first-girl-right">
				<div class="buttons-under-logo">
					<p class="text-under-logo">{{promo_block->promotext1}}</p>
					<div>
						<a href="http://www.youtube.com/embed/{{setting_local->youtube_video_id}}?rel=0&amp;wmode=transparent" class="youtube cboxElement blue-watch-button">
							<span class="icon"></span>
							<span class="btn-text">{{promo_block->promotext1_button1->label}}</span>
						</a>
						<a href="#regForm" class="red-registration-button">
							<span class="icon"></span>
							<span class="btn-text">{{promo_block->promotext1_button2->label}}</span>
						</a>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="second-block">
			<div class="row">
				<div class="left-side">
					<div class="left-text-block">
						<p class="title-text">{{second_block->title}}</p>
						<p class="bold-text">{{second_block->first_paragraph}}</p>
						<p>{{second_block->second_paragraph}}</p>
						<p>{{second_block->third_paragraph}}</p>
					</div>
				</div>
				<div class="second-girl-left">
					<img src="" alt="{{global_img->second_girl_alt}}">
				</div>
				<div class="clearfix"></div>
			</div>
			<img class="wow-logo" src="{{screenshots->ship_1_logo}}" alt="{{screenshots->ship_1_logo_alt}}">
			<img src="{{screenshots->ship_1}}" class="right-image" alt="{{screenshots->ship_1_alt}}">
			<div class="clearfix"></div>
		</div>
		<div class="third-block">
			<div class="row">
				<a href="{{setting_local->third_banner_link}}" target="_blank">
					<img class="bluesteel-logo" src="{{screenshots->ship_2_logo}}" alt="{{screenshots->ship_2_logo_alt}}">
					<div class="third-ship-image"></div>
				</a>
				<img src="" class="third-girl-image" alt="{{global_img->third_girl_alt}}">
				<a href="{{setting_local->third_banner_link}}" target="_blank">
					<div class="title-third-block"><p class="title-third-block-text">{{third_block->title}}</p></div>
				</a>
			</div>
		</div>
		<div class="fourth-block">
			<div class="row">
				<img src="" alt="{{global_img->fourth_girl_alt}}" class="fourth-girl-image">
				<div class="form">
					<div class="desctopwrp-cont">
						<div class="regform">
							<div class="regform-message js-hidden">
								<img src="{{screenshots->success_form}}" alt="{{screenshots->success_form_alt}}">
								<p class="regform-message_text">
									{{messages->ok}}
								</p>
							</div>
							<div class="regform-data">
								<form id="regForm" name="registration" method="post">
									<div class="regform-section  _descr">
										<div class="regform-desrc">
											<h3 class="title-form">{{form->title}}</h3>
											<p class="regform-section-tx">{{form->description}}</p>
										</div>
									</div>
									<div class="regform-section _social">
										<div hide="{{social_button_img->form_first_visibility}}" class="socialreg-ico">
											<a href="{{form_reg_social->first_url}}" class="form-icons-social fb"><span></span></a>
										</div>
										<div hide="{{social_button_img->form_second_visibility}}" class="socialreg-ico">
											<a href="{{form_reg_social->second_url}}" class="form-icons-social vk"><span></span></a>
										</div>
										<div hide="{{social_button_img->form_third_visibility}}" class="socialreg-ico">
											<a href="{{form_reg_social->third_url}}" class="form-icons-social tw"><span></span></a>
										</div>
										<div hide="{{social_button_img->form_fourth_visibility}}" class="socialreg-ico">
											<a href="{{form_reg_social->fourt_url}}" class="form-icons-social gp"><span></span></a>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="regform-section _registration _nobb">
										<div class="regform-item half-form">
											<label class="regform-item-lb">
												<span class="regform-item-t">{{form->label_input_login}}<span>*</span></span>
												<input class="regform-item-inp required-data" type="text" maxlength="50" name="login" data-type="login"/>
											</label>
											<p class="regform-item-hint">{{messages->emailDescText}}</p>
										</div>
										<div class="regform-item   half-form  half-form-right">
											<label class="regform-item-lb">
												<span class="regform-item-t">{{form->label_input_name}}<span>*</span></span>
												<input class="regform-item-inp required-data" type="text" maxlength="24" name="name" data-type="name" autocomplete="off"/>
												<span class="regform-item-statusico _ok"></span>
											</label>
											<p class="regform-item-hint">{{messages->defaultName}}</p>
										</div>
										<div class="regform-item   forms-input-padding">
											<label class="regform-item-lb _half">
												<span class="regform-item-t">{{form->label_input_pass}}<span>*</span></span>
												<input class="regform-item-inp required-data" type="password" maxlength="100" name="password" data-type="password"/>
											</label>
											<label class="regform-item-lb _half">
												<span class="regform-item-t">{{form->label_input_pass_conf}}<span>*</span></span>
												<input class="regform-item-inp required-data" type="password" maxlength="100" name="repeat_password" data-type="password"/>
											</label>
											<p class="regform-item-hint">{{messages->defaultPassword}}</p>
										</div>
										<div class="regform-item _cap   forms-input-padding">
											<span class="regform-item-t">{{form->label_input_captcha}}<span>*</span></span>
											<label class="regform-item-lb _ovrf">
												<input class="regform-item-inp required-data" type="text" maxlength="6" name="captcha" data-type="cap"/>
												<span class="regform-item-statusico _cap _err"></span>
											</label>
											<p class="regform-item-hint">{{messages->defaultCaptcha}}</p>
											<div class="regform-item-cap">
												<img class="regform-item-cap-pic captcha" id="captcha_img" src="media/captcha.jpg" alt=""/>
												<span class="regform-item-reloadcap">{{form->reload_captcha}}</span>
											</div>
										</div>
										<div class="regform-item _promocode">
											<span class="regform-item-promocode">
												<span>{{form->promo_code}}</span>
											</span>
											<div class="regform-item-promocode-wrp">
												<label class="regform-item-lb">
													<input class="regform-item-inp required-data" type="text" maxlength="256" data-type="promo" name="promocode"/>
												</label>
												<p class="regform-item-hint">{{messages->inviteDescText}}</p>
											</div>
										</div>
									</div>
									<input type="hidden" name="game" value="wow">
									<div class="regform-item regform-checkbox">
										<div class="reg-box-notice">
											<input type="checkbox" class="regform-item-inp required-data" data-type="agree" id="notice">
											<label for="notice"></label>
										</div>
										<p><a class="eula" target="_blank" href="{{setting_local->agree_text}}">{{form->agree_right_side_text}}</a></p>
										<p class="regform-item-hint">{{messages->defaultAgree}}</p>
									</div>
									<div class="regform-item _ovfvis">
										<div class="regform-send sid">
											<span class="regform-sent-tx">{{form->button_form}}</span>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</article>
	<footer>
		<div class="social-block">
			<a hide="{{footer_social_option->social_button_1->visibility}}" href="{{footer_social_option->social_button_1->url}}" class="vk" target="_blank">
				<div class="container-soc">
					<i></i>
					<div class="social-block-text">
						<p class="soc-name">{{footer_social->social_button_1->title}}</p>
						<p class="soc-count"><span class="vk_count"></span> {{footer_social->social_button_1->counter}}</p>
					</div>
				</div>
			</a>
			<a hide="{{footer_social_option->social_button_2->visibility}}" href="{{footer_social_option->social_button_2->url}}" class="fb" target="_blank">
				<div class="container-soc">
					<i></i>
					<div class="social-block-text">
						<p class="soc-name">{{footer_social->social_button_2->title}}</p>
						<p class="soc-count"><span class="fb_count"></span> {{footer_social->social_button_2->counter}}</p>
					</div>
				</div>
			</a>
			<a hide="{{footer_social_option->social_button_3->visibility}}" href="{{footer_social_option->social_button_3->url}}" class="tw" target="_blank">
				<div class="container-soc">
					<i></i>
					<div class="social-block-text">
						<p class="soc-name">{{footer_social->social_button_3->title}}</p>
						<p class="soc-count"><span class="tw_count"></span> {{footer_social->social_button_3->counter}}</p>
					</div>
				</div>
			</a>
			<a hide="{{footer_social_option->social_button_4->visibility}}" href="{{footer_social_option->social_button_4->url}}" class="yt" target="_blank">
				<div class="container-soc">
					<i></i>
					<div class="social-block-text">
						<p class="soc-name">{{footer_social->social_button_4->title}}</p>
						<p class="soc-count"><span class="yt_count"></span> {{footer_social->social_button_4->counter}}</p>
					</div>
				</div>
			</a>
			<a hide="{{footer_social_option->social_button_5->visibility}}" href="{{footer_social_option->social_button_5->url}}" class="gp" target="_blank">
				<div class="container-soc">
					<i></i>
					<div class="social-block-text">
						<p class="soc-name">{{footer_social->social_button_5->title}}</p>
						<p class="soc-count"><span class="gp_count"></span> {{footer_social->social_button_5->counter}}</p>
					</div>
				</div>
			</a>
		</div>
		<div class="clearfix"></div>
		<div class="footer-info">
			<div class="links">
				<a hide="{{footer_links_visible->first_hide}}" href="{{footer_links->first_url}}" target="_blank">{{footer_links_label->first_title}}</a>
				<a hide="{{footer_links_visible->second_hide}}" href="{{footer_links->second_url}}" target="_blank">{{footer_links_label->second_title}}</a>
				<a hide="{{footer_links_visible->third_hide}}" href="{{footer_links->third_url}}" target="_blank">{{footer_links_label->third_title}}</a>
				<a hide="{{footer_links_visible->fourth_hide}}" href="{{footer_links->fourth_url}}" target="_blank">{{footer_links_label->fourth_title}}</a>
				<a hide="{{footer_links_visible->fifth_hide}}" href="{{footer_links->fifth_url}}" target="_blank">{{footer_links_label->fifth_title}}</a>
			</div>
			<a href="{{footer_logo->logo_url}}" class="logotype" target="_blank">
				<img src="{{global_img->footer_logo_img}}" alt="{{footer_logo->logo_alt}}">
			</a>
			<p>© {{footer_copyright->startyear}}–<span id="currYear"></span> {{footer_copyright->first_line}}</p>
			<p class="copyright">{{footer_copyright->second_line}}</p>
			<div class="ratingBlock">
				<a class="rating" hide="{{pegi->pegi_1_visibility}}" href="{{pegi->pegi_1_href}}" target="_blank"><img src="{{pegi->pegi_1_img}}" alt="{{pegi->pegi_1_alt}}"></a>
				<a class="rating" hide="{{pegi->pegi_2_visibility}}" href="{{pegi->pegi_2_href}}" target="_blank"><img src="{{pegi->pegi_2_img}}" alt="{{pegi->pegi_2_alt}}"></a>
				<a class="rating" hide="{{pegi->pegi_3_visibility}}" href="{{pegi->pegi_3_href}}" target="_blank"><img src="{{pegi->pegi_3_img}}" alt="{{pegi->pegi_3_alt}}"></a>
			</div>
		</div>
	</footer>
	<link property="stylesheet" rel="stylesheet" href="css/style.min.css">
	<script>
		var formMessages = {
			"ok": "{{messages->ok}}",
			invalid_form: "{{messages->invalidForm}}",
			conflicted_login: "{{messages->conflictedLogin}}",
			conflicted_nickname: "{{messages->conflictedNickname}}",
			internal_error: "{{messages->internalError}}",
			login: {
				"def": "{{messages->defaultLogin}}",
				invalid: "{{messages->invalidLoginError}}",
				required: "{{messages->loginRequiredError}}",
				forbidden: "{{messages->forbiddenLoginError}}",
				max_length: "{{messages->maxLengthLoginError}}",
				min_length: "{{messages->minLengthLoginError}}"
			},
			name: {
				"def": "{{messages->defaultName}}",
				invalid: "{{messages->invalidNameError}}",
				min_length: "{{messages->minLengthNameError}}",
				required: "{{messages->nameRequiredError}}",
				incorrect_name: "{{messages->incorrectNameError}}",
				max_length: "{{messages->maxLengthNameError}}",
				forbidden: "{{messages->forbiddenNameError}}"
			},
			password: {
				"def": "{{messages->defaultPassword}}",
				max_length: "{{messages->maxLengthPasswordError}}",
				min_length: "{{messages->minLengthPasswordError}}",
				invalid: "{{messages->invalidPasswordError}}",
				notequal: "{{messages->notequalPasswordError}}",
				required: "{{messages->requiredPasswordError}}",
				reprequired: "{{messages->repemptyPasswordError}}",
				weak_password: "{{messages->weakPasswordError}}",
				can_not_match_login: "{{messages->canNotMatchLoginPasswordError}}",
				can_not_match_nickname: "{{messages->canNotMatchNamePasswordError}}"
			},
			cap: {
				"def": "{{messages->defaultCaptcha}}",
				invalid: "{{messages->invalidCaptchaError}}",
				required: "{{messages->captchaRequiredError}}",
				"inval": ""
			},
			promo: {
				"def": "{{messages->inviteDescText}}",
				invalid: "{{messages->notmatchInviteError}}"
			},
			agree: {
				"def": "{{messages->defaultAgree}}",
				required: "{{messages->requireAgree}}"
			}
		};
		var incorrect_name_kr = '{{messages->incorrectNameError}}';
		var Realm = "{{setting_local->realm}}";
		var RegApiURL = "{{REG_API}}";
		var SessionId = "";
		var $RegForm;
		if (Realm.toLowerCase() === "kr") {
			formMessages.name.invalid = incorrect_name_kr;
		}

		var
				urlVkontakte = {
					id: '{{footer_social_option->social_button_1->id}}',
					visibility: !parseInt('{{footer_social_option->social_button_1->visibility}}')
				},
				urlFacebook = {
					id: '{{footer_social_option->social_button_2->id}}',
					visibility: !parseInt('{{footer_social_option->social_button_2->visibility}}')
				},
				urlTwitter = {
					id: '{{footer_social_option->social_button_3->id}}',
					visibility: !parseInt('{{footer_social_option->social_button_3->visibility}}')
				},
				urlYoutube = {
					id: '{{footer_social_option->social_button_4->id}}',
					visibility: !parseInt('{{footer_social_option->social_button_4->visibility}}')
				},
				urlGooglePlus = {
					id: '{{footer_social_option->social_button_5->id}}',
					visibility: !parseInt('{{footer_social_option->social_button_5->visibility}}')
				};

		var count_blocks =
				parseInt('{{footer_social_option->social_button_1->visibility}}') +
				parseInt('{{footer_social_option->social_button_2->visibility}}') +
				parseInt('{{footer_social_option->social_button_3->visibility}}') +
				parseInt('{{footer_social_option->social_button_4->visibility}}') +
				parseInt('{{footer_social_option->social_button_5->visibility}}');


		var bgs = {
			desktop: "{{global_img->background_desktop}}",
			tablet: "{{global_img->background_tablet}}",
			mobile: "{{global_img->background_mobile}}"
		};

		var images = [
			{
				selector: '.logo-front',
				desktop: "{{global_img->main_logo_desktop}}",
				tablet: "{{global_img->main_logo_tablet}}",
				mobile: "{{global_img->main_logo_mobile}}"
			}, {
				selector: '.first-girl-right',
				desktop: "{{global_img->first_girl_desktop}}",
				tablet: "{{global_img->first_girl_tablet}}",
				mobile: "{{global_img->first_girl_mobile}}"
			}, {
				selector: '.second-girl-left img',
				desktop: "{{global_img->second_girl_desktop}}",
				tablet: "{{global_img->second_girl_tablet}}",
				mobile: "{{global_img->second_girl_mobile}}"
			}, {
				selector: '.third-girl-image',
				desktop: "{{global_img->third_girl_desktop}}",
				tablet: "{{global_img->third_girl_tablet}}",
				mobile: "{{global_img->third_girl_mobile}}"
			}, {
				selector: '.fourth-girl-image',
				desktop: "{{global_img->fourth_girl_desktop}}",
				tablet: "{{global_img->fourth_girl_tablet}}",
				mobile: "{{global_img->fourth_girl_mobile}}"
			}
		];

		var hideHamburger = 3 - parseInt('{{header->first_url->visibility}}') - parseInt('{{header->second_url->visibility}}') - parseInt('{{header->third_url->visibility}}');
	</script>
	<script type="text/javascript" src="script.min.js"></script>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id='{{setting_local->googleid}}'" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
    (function (w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start': new Date().getTime(),
			event: 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src =
				'//www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', '{{setting_local->googleid}}');
    </script>
    <!-- End Google Tag Manager -->
</body>
</html>